
#body{
  background-color: rgba(226, 214, 85, 0.29);
  font-family: "Bahnschrift", "Comic Sans MS", "Franklin Gothic Book", ui-rounded;
  font-size: x-large;
}

.myheadline{
  color: rgba(132, 79, 29, 0.91);
  text-align: left;
  font-size: xxx-large;
  text-decoration: underline;
  padding-left: 2px;
}

.myButton{
  background-color: rgb(145, 168, 90);
  color: rgba(132, 79, 29, 0.91);
  margin: 2px;
  border: 1px outset buttonborder;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
}

a:hover{
  text-decoration: none;
  color: rgba(132, 79, 29, 0.91);
}

.myGameButton{
  background-color: rgba(226, 214, 85, 0.29);
  color: rgba(132, 79, 29, 0.91);
  margin: 2px;
  padding: 10px;
  border: 1px outset buttonborder;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  font-size: xxx-large;
}

#headerButtons{
  margin: auto;
}

#header{
  background-color: rgb(145, 168, 90);
  padding-top: 5px;
  padding-bottom: 5px;
}

#footer{
  background-color: rgb(145, 168, 90);
  padding-top: 5px;
  padding-bottom: 5px;
}
#footerButtons{
  margin: auto;
}

.centerText{
  text-align: center;
}

.mainPart{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.formularDivs{
  margin: 10px;
}

input[type="checkbox"] {
  transform: scale(2);
  margin: 10px;
}

#board{
  margin: auto;
  z-index: 20;
}


.blackField{
  border: none;
  background-color: black;
  margin: 0px;
  height: 40px;
  width: 40px;
}

.whiteField{
  border: none;
  background-color: white;
  margin: 0px;
  height: 40px;
  width: 40px;
}


#verseOfTheDay{
  margin: auto;
}

#dailyVersesWrapper{
  margin: auto;
}

#rules{
  height: 400px;
  width: 1200px;
}

table.table-bordered{
  z-index: 0;
  border:1px solid black;
  margin-top:20px;
}
table.table-bordered > thead > tr > th{
  border:1px solid black;
}
table.table-bordered > tbody > tr > td{
  border:1px solid black;
}

.tableBoard{
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0px;
}
.tableMarginPadding{
  display: flex;
  margin: 0px;
  padding: 0px;
}

.field{
  display: grid;
  border: none;
  margin: 0px;
  height: 40px;
  width: 40px;
}

.winLoseField{
  z-index: 20;
  display: none;
}
